({ 
	attributes: { id : "[% statement.object %]"}, 
	data:{ title: "node [% statement.statement_object_res.uri %]  / [% statement.object %]"        }, 
	async : true,
	// Properties below are only used for NON-leaf nodes
	state: "open", // or "open"
	opts : {
	    method : "GET",
	    url : "[% c.uri_for('/jquery/json/') %][% statement.object %]"
	}
}),