({ 
   attributes: { "id" : "[%id%]" }, 
   data: "node_title [%id%] / [%param%]", 
   state: "open", 
   children: [ 
   /* an array of child nodes objects */ 
[% FOREACH statement IN statements -%]
[% INCLUDE "jquery/data_item.tt" %]
[% END -%]
	]
})