({ 
   attributes: { "id" : "[%id%]" }, 
   data: "node_title [%id%] / [%param%]", 
   state: "open", 
   children: [ 
   /* an array of child nodes objects */ 

[% # we want to be able to do this for some node types differently. for example to extract data from the children nodes. the strg from the identifier node. %]
[% FOREACH statement IN statements -%]
[% INCLUDE "jquery/data_item.tt" %]

[% END -%]
	]
})