[%#we are going to recurse into the object, as the subject. calls json on it%][%statement.subject%],[%statement.object%] ([%c.model('DB::Statements17546201007601059027').search( { subject=>statement.object} ).count %] )-[% FOREACH objstatement IN c.model('DB::Statements17546201007601059027').search( { subject=>statement.object} ) -%][%#objstatement.subject%],[%#objstatement.object%][% INCLUDE "jquery/data_item_inline.tt" %][% END -%]