[%#we are going to recurse into the object, as the subject. calls json on it%][% FOREACH objstatement IN statement.statement_object_stmt_subjs -%][%statement.subject%],[%statement.object%][%# INCLUDE "jquery/data_item_inline.tt" %][% END -%]