<!--<script type="text/javascript" src="[% c.uri_for('/static/jquery/jstree/lib/jquery.cookie.js') %]"></script> -->
<script type="text/javascript" src="[% c.uri_for('/static/jquery/jstree/jquery.tree.js') %]"></script>

