<li class=template_name>[% component.name %]
<ul>
<li>[% CURRENT.statement_object_res.uri %]</li>
[%SET NEXTTYPE = CURRENT.ObjectStmntPredicate(RDF.type) %]
<li>type[% INCLUDE "GCC/type.tt" # all pointers objects have a size?%] </li>
[% SET PTD = CURRENT.ObjectStmntPredicate(GCC.ptd) %]
<li>PTD :[% PTD.statement_object_res.uri %]</li>
[%SET CURRENT=PTD %]
<li>INCLUDE:
[%INCLUDE "GCC/processnode_type.tt" %]
</li>
</ul>
</li>