<span style="color:red;padding:8px 10px 10px 10px;	font-size:14px; " >
[%#expects  TID as a parameter %]
[% PERL %]     
## get the name of the template from a hash.
use Gcc::Structure;
my $tid = $stash->get("TID");
my $val = Gcc::Structure::GetRev($tid );
#warn('!!! test' . $tid);
$stash->set(template_name_s =>  $val  );
[% END %]
      [% SET template_name=  "GCC/${template_name_s}_type.tt" %]
      [% INCLUDE "$template_name" %]
      [% #INCLUDE "$template_name" %]
</span>
