[%#expects SET TID= TYPE.object %]
[% PERL %]     
## get the name of the template from a hash.
use Gcc::Structure;
my $tid = $stash->get("TID");
my $val = Gcc::Structure::GetRev($tid );
$stash->set(template_name_s =>  $val  );
[% END %]
      [% SET template_name=  "GCC/${template_name_s}.tt" %]
<span style="color=red" >
      [% #INCLUDE "$template_name" %]
      #INCLUDE [%  "$template_name" %]
</span>
