<li class=template_name>[% component.name %]</li>
<li>ID : [% CURRENT.statement_subject_res.id %]
[%SET TYPE = CURRENT.ObjectStmntPredicate(RDF.type) %]
[% SET TID= TYPE.object %]
[% PERL %]     
my $tid =$stash->get("TID");
## get the name of the template from a hash.
use Gcc::Structure;
my $val = Gcc::Structure::GetRev($tid );
[% END %]



