<li class=template_name>[% component.name %]</li>
[% SET LOW = SIZE.ObjectStmntPredicate(GCC.low) %]     
<li>SIZEid:  [% LOW.statement_literal.id %]</li>
<li>SIZEval:  [% LOW.statement_literal.value %]</li>
