[% META title = 'Statement List' -%]
    [%  USE Dumper; %]
  <table>
  <tr><th>Subject</th><th>Predicate</th><th>Object</th></tr>

  [% FOREACH statement IN statements -%]
  <tr>
    <td>
      [% 
#Dumper.dump(statement) 
      %]
      [% FOREACH statementor IN statement.object_resources  -%]
      [%  statementor.uri %]
      [% END -%]

    <td></td>
  </tr>
  [% END -%]

</table>
