     <a href="[% c.uri_for('/')%]statements/subjects/[% statement.subject   %]">Subject [%  statement.subject %] </a>
    </td>
    <td>
      <a href="[% c.uri_for('/')%]statements/predicate/[% statement.predicate  %]">Predicate [%  statement.predicate %] </a>
    </td>

    <td>
      <a href="[% c.uri_for('/')%]statements/object/[% statement.object  %]">Object [%  statement.object %] </a>
    </td>
