[% META title = 'Statement List' -%]
    [%  USE Dumper; %]
  <table>
  <tr><th>Subject</th><th>Predicate</th>
  <th>Object</th>
</tr>

  [% FOREACH statement IN statements -%]
  [% INCLUDE "statements/data_item.tt" %]
  [% END -%]
</table>

<table>
  <tr><th>Subject</th><th>Predicate</th><th>Object</th></tr>

  </table>
